.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.card{
    position: static;
    display: inline-block;
    text-align: left;
}

.text{
    text-align: center;
}
.nav-item{
    text-align: right;
    color: green;
    display: grid;
}


#boton-card{
    padding-top: 0px; 
    padding-bottom: 0px; 
    padding-left: 3px; 
    padding-right: 3px;
   }

#texto-carousel {
position: absolute;
  top: 35%;
  right: 5%;
  bottom: 0;
  left: 60%;
  color: #fff;
  height: 70%;
  text-align: end
}

